{deps, [ {supervisor3, "1.1.5"}
       %, {kafka_protocol, "2.0.0"}
       , {kafka_protocol, {git, "git://github.com/klarna/kafka_protocol.git", {branch, "add-api-to-get-endpoint-from-connections"}}}
       ]}.
{erl_opts, [warn_unused_vars,warn_shadow_vars,warn_unused_import,warn_obsolete_guard,debug_info]}.
